/* img{
    width: 100%;
}
.center {
    width: 960px;
    margin: 0 auto;
}
.wrapper{
  margin-top: -21px;
  background: #2791a9;
}
.cat{
  width: 250px;
  border: 10px solid white;
  margin: 2px;
}
.cat1{
  width: 400px;
  border: 10px solid white;
  margin: 2px;
}
.cat2{
  width: 800px;
  border: 10px solid white;
  margin: 2px;
} */
